<center>
	<form name="formLogin" action="?action=login" method="POST">
	<table>
		<tr>
			<td>Login:</td>
			<td><input type="text" name="login" value=""></td>
		</tr>
                <tr>
                        <td>Password:</td>
                        <td><input type="pasword" name="password" value=""></td>
                </tr>
                <tr>
                        <td></td>
                        <td><input type="submit" name="loginS" value="Login"></td>
                </tr>
	</table>
	</form>
<center>
