{literal}
	<script>
	function showBox(){
		var boxSelec = ''; 
		boxSelec = '<input type="radio" name="5" value="51">I m living with my parents<br/>'; 
 		boxSelec = boxSelec+'<input type="radio" name="5" value="52">I m living in a fat share community<br/>'; 
 		boxSelec = boxSelec+'<input type="radio" name="5" value="53">I m living with a partner<br/>'; 
		document.getElementById('divBox').innerHTML = boxSelec;
	}
	</script>
{/literal}
<form action="?action=save" method="POST" name="saveForm">
{foreach from=$quests item=quest}
	{if $quest.idquest neq ''}
		{$quest.title}<br/><br/>
		{foreach from=$quest.answers item=answer}
			{if $answer.idanswers neq ''}
				{if $quest.idquest eq '3' or $quest.idquest eq '4'}
					<input type="Checkbox" name="{$quest.idquest}[]" value="{$answer.idanswers}">{$answer.answer}
				{else}
					<input type="radio" name="{$quest.idquest}" value="{$answer.idanswers}" {if $answer.idanswers eq '20'}onClick="javaScript:showBox();"{/if}>{$answer.answer}
					{if $answer.idquest eq '5'}<div id='divBox'></div>{/if}
					{if $answer.idanswers eq '6'}<input type='text' name='other' value=''>{/if}
				{/if}
				</br>
			{/if}
		{/foreach}
	{/if}
	</br></br>
{/foreach}
<center>
	<input type="submit" name="save" value="Save" />
</center>
</form>
</br></br>
---------
